<div class="card">
  <div class="card-body">
    <h4 *ngIf="title" class="card-title">{{title}}</h4>
    <h6 *ngIf="subTitle" class="card-subtitle mb-2 text-muted">{{subTitle}}</h6>
    <hr>
    <p class="card-text">
      <ng-content></ng-content>
    </p>
  </div>
</div>
