<h2>Cadastro de Usuários</h2>

<form [formGroup]="form">
  <app-row>
    <app-input prompt="Login"
               formControlName="login"
               [control]="form.get('login')"
               col="6">
    </app-input>
    <app-input prompt="Senha"
               type="password"
               formControlName="password"
               [control]="form.get('password')"
               col="6">
    </app-input>
  </app-row>
  <app-row>
    <app-input prompt="Nome"
               formControlName="name"
               [control]="form.get('name')"
               col="6">
    </app-input>
    <app-input prompt="Sobre Nome"
               formControlName="lastName"
               [control]="form.get('lastName')"
               col="6">
    </app-input>
  </app-row>
  <app-row>
    <app-input prompt="Email"
               formControlName="email"
               [control]="form.get('email')">
    </app-input>
  </app-row>
  <app-row>
    <app-col>
      <app-btn-cancel routerLink="/post"
                      label="Cancelar"
                      (action)="cancel()">
      </app-btn-cancel>
      <app-btn-save [form]="form"
                    (save)="save($event)">
      </app-btn-save>
    </app-col>
  </app-row>
</form>
