<form>
  <app-row>
    <app-input name="comment" prompt="Informe o comentário" [(ngModel)]="comment.body" [col]="12"></app-input>
  </app-row>
  <app-row class="text-right">
    <app-btn-cancel label="Cancelar"
                    (action)="cancel()">
    </app-btn-cancel>
    <app-btn-save (save)="save()">
    </app-btn-save>
  </app-row>
</form>
