<label id="input_prompt_{{id}}"
       class="prompt control-label"
       for="input_input_{{id}}">
  {{prompt}}
</label>
<input *ngIf="type !== 'textarea'"
       id="input_input_{{id}}"
       class="form-control form-control-sm"
       [type]="type"
       [(ngModel)]="value"
       [disabled]="isDisabled"
       [readOnly]="readonly"
       (blur)="onBlur()">
<textarea *ngIf="type === 'textarea'"
          class="form-control"
          id="input_input_{{id}}"
          [(ngModel)]="value"
          [disabled]="isDisabled"
          [readOnly]="readonly"
          (blur)="onBlur()">
</textarea>
<app-field-validator *ngIf="control"
                     [control]="control">
</app-field-validator>
