<button *ngIf="!isAuthenticated"
        class="btn btn-outline-success my-2 my-sm-0"
        type="button"
        (click)="login()">
  <i class="fa fa-user-circle" aria-hidden="true"></i>
  Login
</button>
<span class="welcome" *ngIf="isAuthenticated">
  Seja bem vindo {{userName}}!
  <button type="button"
          class="btn btn-secondary btn-sm"
          (click)="logout()"
          tooltip="Logout"
          placement="left">
    <i class="fa fa-times" aria-hidden="true"></i>
  </button>
  <button type="button"
          class="btn btn-secondary btn-sm"
          routerLink="/user/edit"
          tooltip="Editar meu usuáio"
          placement="left">
    <i class="fa fa-cog" aria-hidden="true"></i>
  </button>
</span>
