<div class="sidebar-module">
  <h4>Arquivos</h4>
  <span *ngFor="let item of items">
    <a [routerLink]="['post', item.idPost]">
      - {{item?.datePost | date: 'dd/MM/yyyy hh:mm'}}  {{item?.description}}
    </a>
  </span>
</div>
