:host {
  margin-top: 30px;
  display: block;

  span {
    display: block;

    a {
      font-size: 15px;
      color: #007bff;

      &:hover {
        color: #007bff;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
