<div class="modal fade" bsModal #childModal="bs-modal" tabindex="-1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Login</h4>
      </div>
      <form>
        <div class="modal-body">
          <app-alert alertName="user"></app-alert>
          <app-input name="user" prompt="Usuário" [(ngModel)]="model.user" ra-required></app-input>
          <app-input name="pass" prompt="Senha" type="password" [(ngModel)]="model.password" ra-required></app-input>
          <app-col>
            <a class="newUser" routerLink="/user/new" (click)="cancel()">Ainda não sou cadastrado</a>
          </app-col>
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline-error my-2 my-sm-0" type="reset" (click)="cancel()">Cancelar</button>
          <button class="btn btn-outline-info my-2 my-sm-0" type="submit" (click)="login()">Entrar</button>
        </div>
      </form>
    </div>
  </div>
</div>
