<!-- <div [froalaView]>{{comment}}</div> -->

<div class="card">
  <div class="card-header">
    Comentários
    <button type="button"
            style="float: right"
            class="btn btn-secondary btn-sm"
            (click)="novo()"
            tooltip="Comentar">
      <i class="fa fa-commenting-o" aria-hidden="true"></i>
    </button>
  </div>
  <div class="card-block">
    <app-create-comment *ngIf="newCommentOppened" (dispose)="dispose()"></app-create-comment>
    <app-item-comment *ngFor="let comment of comments" [data]="comment"></app-item-comment>
  </div>
</div>
