/* You can add global styles to this file, and also import other style files */

.prompt, [prompt] {
    // margin-top: 5px;
    margin-bottom: 0px;
    font-weight: normal;
    display:inline-block;
}

.form-group.ng-invalid.ng-touched.ng-dirty {
  input {
    border-color: #dc3545;
  }

  label {
    color: #dc3545;
  }
}
