<h2>Novo Post</h2>
<div>
  <app-row>
    <app-input [(ngModel)]="post.title" prompt="Título"></app-input>
  </app-row>
  <app-row>
    <div [froalaEditor] [(ngModel)]="post.body"  class="col-md-12"></div>
  </app-row>
  <app-row>
    <app-col col=12 class="actions">
      <app-btn-save (save)="save()"
                    class="float-right">
      </app-btn-save>
      <app-btn-cancel label="Cancelar"
                      class="float-right"
                      (action)="cancel()">
      </app-btn-cancel>
      <app-btn-cancel label="Limpar"
                      class="float-right"
                      (action)="clear()">
      </app-btn-cancel>
    </app-col>
  </app-row>
</div>

<div class="preview">
  <app-row>
    <app-card-title title="preview" class="col-md-12">
      <div [froalaView]='post.body'></div>
    </app-card-title>
  </app-row>
</div>
