<div class="header">
  <span>
    <h2>
      {{post.title}}
      <span class="edit" (click)="edit()" *ngIf="isAuthenticated" tooltip="Editar">
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </span>
    </h2>
  </span>
  <span class="info">
    Data da postagem: {{post.datePost | date: 'dd/MM/yyyy hh:mm:ss'}} por {{post.userName}}
  </span>
</div>

<div class="view" [froalaView]="post.body"></div>

<app-view-comment *ngIf="!isLastPost"></app-view-comment>

<button class="btn btn-outline-info"
        type="button"
        [routerLink]="[post.id]"
        *ngIf="isLastPost">
  Ver na Integra
</button>
