.view {
  margin-top: 50px;
}

.info {
  font-size: 11px;
}

.edit {
  font-size: 15px;

  :hover {
    transition: 0.5s;
    -webkit-transition: 0.5s; /* Safari */

    color: black;
    cursor: pointer;
    font-size: 23px;
  }
}
