<table class="table">
  <thead class="thead-inverse bg-dark">
    <tr>
      <th *ngFor="let column of columns">{{column.alias}}</th>
      <th *ngIf="showActions">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of data">
      <td *ngFor="let column of columns">{{getDataColumn(row, column)}}</td>
      <td *ngIf="showActions" style="width: 0 auto">
        <button *ngFor="let action of actions" class="btn btn-sm {{action.cssClass}}" (click)="action.action(row)">
          <i class="fa {{action.icon}}" aria-hidden="true"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
