<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Blog do Abegg</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link"
         routerLink="/post"
         routerLinkActive="active">
        Posts
      </a>
      <a *ngIf="isAuthenticated"
         class="nav-item nav-link"
         routerLink="/post/new"
         routerLinkActive="active">
        Criar Post
      </a>
    </div>

    <app-login-navbar></app-login-navbar>
  </div>
</nav>
