<app-navbar></app-navbar>
<app-alert></app-alert>
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <router-outlet></router-outlet>
    </div>
    <div class="col-sm-4 offset-sm-1">
      <div class="sidebar-module sidebar-module-inset">
        <h4>Sobre</h4>
        <p>
          Blog criado como teste para cargo de Analista Programador na empresa Linx sistemas
          localizada em Cascavel-PR
        </p>
      </div>
      <app-arquivos></app-arquivos>
    </div>
  </div>
</div>
